* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  /*font-size: 10px; */
  /*this is root value for all rem used in this stylesheet. It is always a good practice to use rem*/
  font-size: 52.5%;
  /*100% implies 16px, 62.5% implies 10px. i.e, 10/16=62.5. (Lecture 18) */ }

body {
  padding: 3rem;
  /*30px;   used to get nice white border around the page edges */
  font-family: 'Roboto Mono', monospace; }

.header {
  background-image: linear-gradient(to bottom right, rgba(238, 63, 32, 0.603), rgba(165, 77, 42, 0.603)), url(Optimized-assorted-spices-near-white-ceramic-bowls-678414.jpg);
  height: 95vh;
  background-color: darkgray;
  background-size: cover;
  background-position: center;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  backface-visibility: hidden;
  /*hides any knid of different behaviour in our animation which nobody can explain.  */
  /* here our words used to move upside down after the animation effect. */ }

.logobox {
  position: absolute;
  top: 1rem;
  /*10px*/
  left: 2rem;
  animation-name: rotate;
  animation-duration: 2s;
  animation-timing-function: ease-in; }

.logo {
  height: 5rem;
  /*50px*    
    // /* animation-name: rotate 2s ease-out;*/ }

.text {
  position: absolute;
  top: 40%;
  left: 25%; }
  .text-main {
    font-size: 7rem;
    font-weight: 400;
    text-transform: uppercase;
    color: whitesmoke;
    opacity: 0.5;
    letter-spacing: .5rem;
    animation-name: MoveFromLeft;
    animation-duration: 2s;
    /*animation: MoveFromLeft 2s ease-in 1s */
    animation-timing-function: ease-in; }
  .text-sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    color: whitesmoke;
    opacity: 0.5;
    letter-spacing: .5rem;
    animation-name: MoveFromRight;
    animation-duration: 2s;
    animation-timing-function: ease-in; }

@keyframes rotate {
  0% {
    transform: rotate(180deg); }
  100% {
    transform: translate(0); } }

@keyframes MoveFromLeft {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  70% {
    transform: translateY(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes MoveFromRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  70% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes MoveFromBottom  /*used for button to move from bottom. this is used in &-animated class */ {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  80% {
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 2rem;
  display: inline-block;
  border-radius: 10rem;
  transition: translate 2s;
  position: relative;
  font-size: 1rem;
  /* animation: MoveFromBottom 3s ease-out 1s; */ }

.btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 1rem 2rem rgba(14, 4, 0, 0.603); }
  .btn:hover::after {
    transform: scale(1.5);
    opacity: 0; }

.btn:active {
  transform: translateY(-3px);
  box-shadow: 0 1rem 1rem rgba(14, 4, 0, 0.603); }

.btn-white {
  background-color: #fff;
  color: #777;
  position: relative;
  left: 20%;
  margin-top: 3rem; }
  .btn-white::after {
    background-color: #FFF; }

.btn-merun {
  background-color: rgba(180, 41, 41, 0.918);
  color: #f3efef;
  position: relative;
  left: 39%;
  margin-top: 5rem; }
  .btn-merun::after {
    background-color: rgba(180, 41, 41, 0.918); }

.btn::after {
  content: "";
  /* here content  is complusory, as we dont have any, we left blank with "" */
  display: inline-block;
  /*because parent is inline block */
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  /*now this wants a parent hence we positioned "&:link,&:visited" to relative */
  top: 0px;
  left: 0;
  right: 0;
  z-index: -1;
  transition: all 0.5s; }

.btn-animated {
  animation: MoveFromBottom 2s ease-in;
  animation-fill-mode: backwards;
  /* this above propert will set the button to its initial state(i.e, to 0% state. i.e, to invisible state) before the animation starts */ }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:first-child {
    margin-top: 5rem; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    height: 5rem;
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem ) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * (100% - 2 * 6rem ) / 3  + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem ) / 4); }
  .row .col-2-of-4 {
    width: calc(2* (100% - 3 * 6rem ) / 4 + 6rem); }
  .row .col-3-of-4 {
    width: calc(2* (100% - 3 * 6rem ) / 4 + 6rem + (100% - 3 * 6rem ) / 4 + 6rem); }

.composition {
  position: relative; }
  .composition__photo {
    width: 65%;
    box-shadow: 0 1.5rem 4rem black;
    border-radius: 3px;
    position: absolute;
    transition: all 0.2s;
    outline-offset: 1.5rem; }
    .composition__photo__p1 {
      left: 0;
/*       top: 1rem; } */
    .composition__photo__p2 {
      right: 0;
      top: 1.5rem; }
    .composition__photo__p3 {
      left: 20%;
      top: 5rem; }
    .composition__photo:hover {
      outline: 1.5rem solid rgba(218, 60, 92, 0.582);
      transform: scale(1.2);
      box-shadow: 0 2rem 4rem black;
      z-index: 1; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.about-us {
  background-color: rgba(240, 209, 209, 0.877);
  height: 95vh;
  padding: 20rem 3rem;
  margin: -25vh 0 0 0; }

.headertwo {
  font-size: 3rem;
  font-weight: 500;
  opacity: 0.5;
  letter-spacing: .5rem;
  text-transform: uppercase;
  text-align: center;
  background: linear-gradient(to right, #f00606, rgba(170, 103, 3, 0.767));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.5s; }
  .headertwo:hover {
    transform: scale(1.2);
    text-shadow: 0 0.5rem 4rem rgba(238, 94, 94, 0.904); }

.headerthree {
  opacity: 0.5;
  letter-spacing: .5rem;
  color: black;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 500; }

.paragraph {
  opacity: 0.5;
  letter-spacing: .5rem;
  color: darkmagenta;
  font-weight: 400;
  font-size: 1.5rem;
  margin-top: 2rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.learnmore {
  text-decoration: none;
  display: inline-block;
  opacity: 0.5;
  letter-spacing: .5rem;
  color: #047a7e;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  font-size: 2rem;
  font-weight: 500;
  transition: all .2s; }
  .learnmore:hover {
    background-color: crimson;
    transform: translateY(-3px);
    box-shadow: 0 1rem 1rem rgba(14, 4, 0, 0.603); }
  .learnmore:active {
    transform: translateY(3px);
    box-shadow: 0 1rem 1rem rgba(14, 4, 0, 0.603); }

.col-1-of-2:nth-child(5) {
  text-align: center; }

.features {
  background-image: linear-gradient(to bottom right, rgba(238, 63, 32, 0.603), rgba(165, 77, 42, 0.603)), url(burger-and-vegetables-placed-on-brown-wood-surface-1565982.jpg);
  height: 90vh;
  background-color: darkgray;
  background-size: cover;
  background-position: bottom;
  transition: transform 0.1s;
  transform: skewY(-7deg);
  margin-top: -12rem; }
  .features > * {
    transform: skewY(7deg); }
  .features_text {
/*     width: 25rem; */
    padding: 3rem 0;
    text-align: center;
    margin: 20rem auto;
    height: 35rem;
    text-transform: uppercase;
    opacity: 0.5;
    letter-spacing: .5rem;
    background-color: rgba(228, 148, 74, 0.425);
    box-shadow: 0 2rem 4rem black; }
    .features_text:hover {
      transform: translateY(2rem) scale(1.2); }
    .features_text_icon {
      text-align: center;
      font-size: 8rem;
      margin-top: 5rem;
      background: linear-gradient(to right, rgba(170, 50, 3, 0.767), #f00606);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent; }
    .features_text_header {
      padding: 2rem 0; }

.section-card {
  background-color: rgba(240, 209, 209, 0.877);
  height: 50rem;
  padding: 16rem 0 90rem 0;
  margin-top: -10rem; }
  .section-card-heading {
    margin-bottom: 5rem;
    font-size: 5rem;
    font-weight: 500;
    opacity: 0.5;
    letter-spacing: .5rem;
    text-transform: uppercase;
    text-align: center;
    background: linear-gradient(to right, #f00606, rgba(170, 103, 3, 0.767));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: all 0.5s; }
    .section-card-heading:hover {
      transform: scale(1.2);
      text-shadow: 0 0.5rem 4rem rgba(238, 94, 94, 0.904);
      backface-visibility: hidden; }

.card {
  perspective: 150rem;
  position: relative; }
  .card_side {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    height: 50rem;
    border-radius: 5px;
    box-shadow: 0 1rem 2rem rgba(110, 99, 99, 0.8);
    transition: all 0.5s;
    -webkit-perspective: 150rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 80%; }
    .card_side_front_1 {
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      background: linear-gradient(to right, rgba(206, 109, 44, 0.767), rgba(228, 197, 60, 0.87)); }
    .card_side_front_2 {
      background: linear-gradient(to right, rgba(12, 68, 153, 0.925), rgba(15, 100, 228, 0.993)); }
    .card_side_front_3 {
      background: linear-gradient(to right, rgba(42, 167, 11, 0.925), rgba(102, 212, 69, 0.993)); }
    .card_side_back_1 {
      background: linear-gradient(to right, rgba(206, 109, 44, 0.767), rgba(228, 197, 60, 0.87));
      transform: rotateY(180deg);
      backface-visibility: hidden; }
    .card_side_back_2 {
      background: linear-gradient(to right, rgba(15, 57, 121, 0.925), rgba(64, 230, 222, 0.993));
      transform: rotateY(180deg); }
    .card_side_back_3 {
      background: linear-gradient(to right, rgba(42, 167, 11, 0.925), rgba(195, 241, 134, 0.993));
      transform: rotateY(180deg); }
  .card:hover .card_side_front_1, .card:hover .card_side_front_2, .card:hover .card_side_front_3 {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: rotateY(180deg); }
  .card:hover .card_side_back_1, .card:hover .card_side_back_2, .card:hover .card_side_back_3 {
    transform: rotateY(0); }
  .card_picture {
    background-blend-mode: screen;
    background-size: cover;
    height: 50%;
    background-position: center; }
    .card_picture_1 {
      background-image: url(debbie-tea-LO7rNP0LRro-unsplash-min.jpg);
      clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
      border-top-left-radius: 5px;
      border-top-right-radius: 5px; }
    .card_picture_2 {
      background-image: url(fried-rice-min.jpg);
      clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
      border-top-left-radius: 5px;
      border-top-right-radius: 5px; }
    .card_picture_3 {
      background-image: url(pasta-min.jpg);
     
      clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
      border-top-left-radius: 5px;
      border-top-right-radius: 5px; }
  .card_heading {
    font-size: 2rem;
    font-weight: 500;
    color: whitesmoke;
    opacity: 0.5;
    letter-spacing: .5rem;
    position: absolute;
    top: 15rem;
    right: 2rem;
    text-align: right;
    width: 75%; }
  .card_heading-span {
    padding: 0.5rem 1.5rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone; }
    .card_heading-span-1 {
      background-image: linear-gradient(to right, rgba(153, 28, 12, 0.925), rgba(124, 103, 8, 0.993)); }
    .card_heading-span-2 {
      background-image: linear-gradient(to right, rgba(15, 57, 121, 0.925), rgba(64, 230, 222, 0.993)); }
    .card_heading-span-3 {
      background-image: linear-gradient(to right, rgba(42, 167, 11, 0.925), rgba(102, 212, 69, 0.993)); }
  .card_details {
    padding: 0 2rem 2rem 2rem; }
    .card_details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card_details ul li {
        padding: 1rem;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 500;
        color: whitesmoke;
        text-transform: uppercase; }
        .card_details ul li:not(:last-child) {
          padding-bottom: 2rem;
          border-bottom: 2px solid rgba(230, 152, 152, 0.541); }
  .card_back_box {
    padding: 5rem;
    margin: 0 auto;
    text-align: center; }
    .card_back_box-icon {
      text-align: center;
      font-size: 8rem;
      position: absolute;
      right: 25%;
      top: 10%;
      background: linear-gradient(to right, rgba(170, 50, 3, 0.767), #f00606);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent; }
    .card_back_box-button {
      text-align: center;
      position: absolute;
      right: 40%;
      top: 60%; }
  .card-bottombtn {
    bottom: 0;
    left: 50%;
    margin-top: 52rem;
    margin-bottom: 5rem;
    font-size: 5rem;
    font-weight: 500;
    opacity: 0.5;
    letter-spacing: .5rem;
    text-transform: uppercase; }
